{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo" src="{{ asset('asset/img/Disguize.png') }}"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img class="disguizeLogo" src="{{ asset('asset/img/DisguizeLogo.png') }}"></a>
            <a href="#"><img class="imgMenu" src="{{ asset('asset/img/Accueil.png') }}">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img class="imgMenu" src="{{ asset('asset/img/annonce.png') }}">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img class="imgMenu" src="{{ asset('asset/img/Inscription.png') }}">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img class="imgMenu" src="{{ asset('asset/img/connexion.png') }}">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img class="shop" src="{{ asset('asset/img/Shop.png') }}">
    </header>
    <div class="content">
        <div class="searchBack">
            <img src="{{ asset('asset/img/backImg.jpg') }}">
                <span class="textTitle">20 000 Déguisements
                prêts à être loués</span>
            <input class="searchInput" type="text" placeholder="&nbsp;&nbsp;&nbsp;Quel costume voulez-vous ?">
            <button class="searchButton" type="submit"></button>
        </div>
        <div class="annonce">
            <div class="annonceTitle">Les Dernières annonces mises en ligne</div>
            <div class="lastAnnonce"></div>
            <div class="lastAnnonce"></div>
        </div>
    </div>
    <div class="whyChoose">
        <div class="annonceTitle">Mais pourquoi choisir Disguize ?</div>
        <img class="chooseImg" src="{{ asset('asset/img/simple.png') }}">
        <div class="chooseText">Recherchez parmi un vaste choix de costumes en seulement quelques clics</div>
        <img class="chooseImg" src="{{ asset('asset/img/Rapide.png') }}">
        <div class="chooseText">Nous nous engageons à vous livrer votre déguisement en peu de temps afin d'en profiter le plus tôt possible</div>
        <img class="chooseImg" src="{{ asset('asset/img/fiable.png') }}">
        <div class="chooseText">Nous détectons les fausses annonces et nous vous assurons un paiement sécurisé</div>
    </div>
    <div class="findCostume">
        <span class="disguizeYou">Déguisez-vous!</span>
        <button class="disguizeButton">Trouver un costume</button>
    </div>
</div>
    {% endblock fos_user_content %}

    <script src="{{ asset('asset/js/jquery-1.11.3.min..js') }}"></script>
    <script src="{{ asset('asset/js/app.js') }}"></script>
