{% extends 'base.html.twig' %}

{% block body %}
    <div class='profileContainer'>
        <h1 class='profileTitle'>Vos Articles</h1>
        {% for article in articles %}
            <div class='articleBlock'>
                <div class='imgBlock'>
                    <a href="{{ path('article_show', { 'id': article.id }) }}">
                        <img class='articlePhoto' src="{{ asset('bundles/desguize/images/uploads/'~article.path) }}">
                    </a>
                </div>
                <div class='infoBlock'>
                    <a href="{{ path('article_show', { 'id': article.id }) }}">
                        <p>{{ article.name }}</p>
                    </a>
                    <br>
                    <p>
                        {% if article.dateCreation %}
                            Posté le {{ article.dateCreation|date('d/m/Y') }} à {{ article.dateCreation|date('H:m') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        <ul>
            <li>
                <a href="{{ path('article_new') }}">
                    <button class='buttonForm'>Ajouter</button>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
